<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.cda.mabatisplus.mapper.EmployeeMapper">
    <select id="getByGender" resultType="com.cda.mabatisplus.pojo.User">
        select * from tbl_employee where gender=#{gender}
    </select>
</mapper>